In [11]:
import pandas as pd

df = pd.read_csv('../data/cleaned/learner_activity_cleaned.csv')

df.head()

,user_id,course_id,enrollment_date,module_name,video_progress_pct,time_spent_minutes,assessment_attempts,assessment_score,completion_status,feedback_rating,device_type,access_time
0,U0058,DS101,2024-06-09,Python Basics,NaN,0,3,0.0,Yes,1.0,mobile,10:30 AM
1,U0288,DS101,NaN,Python Basics,NaN,119,0,50.0,No,2.0,mobile,22:15
2,U0173,DS101,2024-06-13,Intro to Data,81.0,159,0,0.0,No,NaN,laptop,9 PM
3,U0186,ML301,2024-06-23,ML Intro,NaN,0,1,42.0,No,3.0,desktop,22:15
4,U0190,DA201,NaN,Intro Analytics,NaN,0,1,89.0,No,5.0,laptop,22:15

In [12]:
def funnel_stage(progress):
    if progress >= 100:
        return "Completed"
    elif progress >= 75:
        return "75%"
    elif progress >= 50:
        return "50%"
    elif progress >= 25:
        return "25%"
    elif progress > 0:
        return "Started"
    else:
        return "Enrolled"

df['funnel_stage'] = df['video_progress_pct'].apply(funnel_stage)

df['funnel_stage'].value_counts()

funnel_stage
Enrolled     458
Started      101
75%           91
50%           85
25%           83
Completed     82
Name: count, dtype: int64

In [13]:
df['learner_type'] = df['time_spent_minutes'].apply(
    lambda x: 'Power Learner' if x >= 90 else 'Casual Learner'
)

df['learner_type'].value_counts()

learner_type
Casual Learner    663
Power Learner     237
Name: count, dtype: int64

In [14]:
df['learning_pace' ] = df['time_spent_minutes'].apply(
    lambda x: 'Binge Learner' if x >= 120 else 'Slow Learner'
)

df['learning_pace'].value_counts()

learning_pace
Slow Learner     743
Binge Learner    157
Name: count, dtype: int64

In [15]:
df.to_csv('../data/curated/learner_activity_curated.csv', index=False)