In [7]:
import pandas as pd

df = pd.read_csv('../data/curated/learner_activity_curated.csv')
df.head()

,user_id,course_id,enrollment_date,module_name,video_progress_pct,time_spent_minutes,assessment_attempts,assessment_score,completion_status,feedback_rating,device_type,access_time,funnel_stage,learner_type,learning_pace
0,U0058,DS101,2024-06-09,Python Basics,NaN,0,3,0.0,Yes,1.0,mobile,10:30 AM,Enrolled,Casual Learner,Slow Learner
1,U0288,DS101,NaN,Python Basics,NaN,119,0,50.0,No,2.0,mobile,22:15,Enrolled,Power Learner,Slow Learner
2,U0173,DS101,2024-06-13,Intro to Data,81.0,159,0,0.0,No,NaN,laptop,9 PM,75%,Power Learner,Binge Learner
3,U0186,ML301,2024-06-23,ML Intro,NaN,0,1,42.0,No,3.0,desktop,22:15,Enrolled,Casual Learner,Slow Learner
4,U0190,DA201,NaN,Intro Analytics,NaN,0,1,89.0,No,5.0,laptop,22:15,Enrolled,Casual Learner,Slow Learner

In [8]:
funnel_counts = (
    df['funnel_stage']
    .value_counts()
    .reset_index()
    .rename(columns={'index': 'funnel_stage', 'funnel_stage': 'learners'})
)

funnel_counts

    learners  count
0   Enrolled    458
1    Started    101
2        75%     91
3        50%     85
4        25%     83
5  Completed     82

In [9]:
funnel_counts.columns

Index(['learners', 'count'], dtype='object')

In [10]:
funnel_counts = funnel_counts.rename(
    columns={
        'learners': 'funnel_stage',
        'count': 'learners'
    }
)

funnel_counts

  funnel_stage  learners
0     Enrolled       458
1      Started       101
2          75%        91
3          50%        85
4          25%        83
5    Completed        82

In [11]:
order = ['Enrolled', 'Started', '25%', '50%', '75%', 'Completed']

funnel_counts['funnel_stage'] = pd.Categorical(
    funnel_counts['funnel_stage'],
    categories=order,
    ordered=True
)

funnel_counts = funnel_counts.sort_values('funnel_stage')
funnel_counts

  funnel_stage  learners
0     Enrolled       458
1      Started       101
4          25%        83
3          50%        85
2          75%        91
5    Completed        82